<a href="https://colab.research.google.com/github/D-Vaibhav/google_colab/blob/pyspark/01_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(pyspark.__version)

NameError: ignored

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.5)

https://www.datacamp.com/tutorial/pyspark-tutorial-getting-started-with-pyspark

https://medium.com/walmartglobaltech/decoding-memory-in-spark-parameters-that-are-often-confused-c11be7488a24

https://sparkbyexamples.com/spark/spark-show-display-dataframe-contents-in-table/

https://sparkbyexamples.com/pyspark/pyspark-count/

https://sparkbyexamples.com/pyspark/pyspark-where-filter/

In [ ]:
%%sh
ls -l ./sample_data/*.csv

-rw-r--r-- 1 root root   301141 Mar 20 13:36 ./sample_data/california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Mar 20 13:36 ./sample_data/california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Mar 20 13:36 ./sample_data/mnist_test.csv
-rw-r--r-- 1 root root 36523880 Mar 20 13:36 ./sample_data/mnist_train_small.csv

In [ ]:
# 1. IMPORTING PACKAGES ======================================================================================
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, round, count, desc, sum


# 2. SETTING MAIN FUNCTION FOR OS CALLING ====================================================================
def init_spark():
    spark = SparkSession.builder\
                        .master('local[*]')\
                        .appName("quick_revision")\
                        .getOrCreate()
                        
    sc = spark.sparkContext
    return spark, sc


def main():
    spark, sc = init_spark()
    print(sc)

    california_housing_test = read_csv_data(spark, sc)

    print('calling function => basic_operation_via_df_api --------------------------')
    basic_operation_via_df_api(california_housing_test)

    print('calling function => basic_operation_via_spark_sql --------------------------')
    basic_operation_via_spark_sql(spark, california_housing_test)



# 3. AD-HOC FUNCTIONs =======================================================================================
def read_csv_data(spark, sc):
    data_path = './sample_data/california_housing_test.csv'
    california_housing_test = spark.read.csv(data_path, header=True, escape=',')
    california_housing_test.printSchema()
    california_housing_test.show(7)

    return california_housing_test


def basic_operation_via_df_api(df):
    total_rows = df.count()
    print(f'total_rows are {total_rows}\n\n')

    # selecting columns -------------------------------------------------------------------------------
    df1 = df.select('longitude', 'latitude')
    print(df1)
    df1.show(7)
    print('\n\n')

    df2 = df.select(df.longitude, df.latitude).distinct()
    print(df2)
    df2.show(7)
    print('\n\n')

    df3 = df.select(col('longitude'), col('latitude'))
    print(df3)
    df3.show(7)
    print('\n\n')

    # round, aliasing columns -------------------------------------------------------------------------------
    df1 = df1.select('*', round('longitude').alias('long'), round('latitude').alias('lati'))
    print(df1)
    df1.show(7)
    print(f'df1.count() is {df1.count()} \n\n')

    # groupBy, agg, orderBy function columns -------------------------------------------------------------------------------
    df10 = df1.groupBy('long').agg(count('lati')).orderBy(desc('long'))
    print(df10)
    df10.show(7)
    print(f'df10.count() is {df10.count()} \n\n')

    # df_temp = df10.select('count(lati)'.alias('lati'))
    df_temp = df10.select(col('count(lati)').alias('lati'))
    df_temp = df_temp.agg(sum('lati'))
    print(df_temp)
    df_temp.show(7)
    print(f'df_temp.count() is {df_temp.count()} \n\n')

    # where/filtering columns -------------------------------------------------------------------------------
    df1.filter(df1.lati == '37.0').show(7)

    df1.where((df1.lati == '37.0') & (df1.longitude == '-122.050000')).show(7)


    
    




def basic_operation_via_spark_sql(spark, df):
    # creating view in-order to apply spark sql -------------------------------------------------------
    df.createOrReplaceTempView('df')

    df1 = spark.sql('select * from df')
    print(df1)
    df1.show(7)
    print(f'df1.count() is {df1.count()} \n\n')


if __name__ == '__main__':
    main()

<SparkContext master=local[*] appName=quick_revision>
root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 7 rows

calling function => basic_operation_via_df_api --------------------------
total_rows are 3000


DataFrame[longitude: string, latitude: string]
+-----------+---------+
|  longitude| latitude|
+-----------+---------+
|-122.050000|37.370000|
|-118.300000|34.260000|
|-117.810000|33.780000|
|-118.360000|33.820000|
|-119.670000|36.330000|
|-119.560000|36.510000|
|-121.430000|38.630000|
+-----------+---------+
only showing top 7 rows




DataFrame[longitude: string, latitude: string]
+-----------+---------+
|  longitude| latitude|
+-----------+---------+
|-118.070000|33.930000|
|-121.800000|37.990000|
|-118.270000|34.110000|
|-118.180000|34.020000|
|-118.600000|34.130000|
|-118.440000|34.170000|
|-120.560000|35.480000|
+-----------+---------+
only showing top 7 rows




DataFrame[longitude: string, latitude: string]
+-----------+---------+
|  longitude| latitude|
+-----------+---------+
|-122.050000|37.370000|
|-118.300000|34.260000|
|-117.810000|33.780000|
|-118.360000|33.820000|
|-119.670000|36.330000|
|-119.560000|36.510000|
|-121.430000|38.630000|
+-----------+---------+
only showing top 7 rows




DataFrame[longitude: string, latitude: string, long: double, lati: double]
+-----------+---------+------+----+
|  longitude| latitude|  long|lati|
+-----------+---------+------+----+
|-122.050000|37.370000|-122.0|37.0|
|-118.300000|34.260000|-118.0|34.0|
|-117.810000|33.780000|-118.0|34.0|
|-118.360000|33.820000|-118.0|34.0|
|-119.670000|36.330000|-120.0|36.0|
|-119.560000|36.510000|-120.0|37.0|
|-121.430000|38.630000|-121.0|39.0|
+-----------+---------+------+----+
only showing top 7 rows

df1.count() is 3000


DataFrame[long: double, count(lati): bigint]
+------+-----------+
|  long|count(lati)|
+------+-----------+
|-114.0|          1|
|-115.0|          5|
|-116.0|         25|
|-117.0|        372|
|-118.0|       1098|
|-119.0|        182|
|-120.0|        184|
+------+-----------+
only showing top 7 rows

df10.count() is 11


DataFrame[sum(lati): bigint]
+---------+
|sum(lati)|
+---------+
|     3000|
+---------+

df_temp.count() is 1


+-----------+---------+------+----+
|  longitude| latitude|  long|lati|
+-----------+---------+------+----+
|-122.050000|37.370000|-122.0|37.0|
|-119.560000|36.510000|-120.0|37.0|
|-121.930000|37.250000|-122.0|37.0|
|-121.910000|37.440000|-122.0|37.0|
|-121.930000|37.330000|-122.0|37.0|
|-121.820000|37.250000|-122.0|37.0|
|-121.780000|37.230000|-122.0|37.0|
+-----------+---------+------+----+
only showing top 7 rows

+-----------+---------+------+----+
|  longitude| latitude|  long|lati|
+-----------+---------+------+----+
|-122.050000|37.370000|-122.0|37.0|
|-122.050000|37.360000|-122.0|37.0|
|-122.050000|37.050000|-122.0|37.0|
|-122.050000|37.310000|-122.0|37.0|
|-122.050000|37.380000|-122.0|37.0|
+-----------+---------+------+----+

calling function => basic_operation_via_spark_sql --------------------------
DataFrame[longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string]
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 7 rows

df1.count() is 3000